<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
	<key>CFBundleIdentifier</key>
	<string>com.fruitz-of-dojo.tenebraequakex.help</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TenebraeQuake</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>CFBundleSignature</key>
	<string>hbwr</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>HPDBookAccessPath</key>
	<string>TenebraeQuake.html</string>
	<key>HPDBookIconPath</key>
	<string>Shared/quakeic.png</string>
	<key>HPDBookIndexPath</key>
	<string>TenebraeQuake.helpindex</string>
	<key>HPDBookKBProduct</key>
	<string>ktenebraequake</string>
	<key>HPDBookTitle</key>
	<string>TenebraeQuake Help</string>
	<key>HPDBookType</key>
	<string>3</string>
</dict>
</plist>
